/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 27 de nov. de 2025, 16:49:10
    Author     : samuel



*/


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Euclid Circular A", "Poppins";
}

body {
  align-content: center;
  margin: 0;
  height: 100vh;
  display: grid;
  place-items: center;
  background: #020024;
  background: linear-gradient(7deg, rgba(2, 0, 36, 1) 0%, rgba(36, 36, 69, 1) 35%, rgba(1, 17, 20, 1) 100%);
}

h1{
  color: #f4f4f4;
}
h2 {
  font-weight: 500;
  margin: 0 0 16px;
}

p {
  opacity: 0.7;
  font-size: 18px;
  margin: 0 0 20px;
}

a {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #717171;
  font-weight: 500;
  background: #fff;
  border-radius: 3.125rem;
  margin: 0 auto;
  padding: 6px 26px;
  font-size: 0.9rem;
  transition: 0.3s ease-in-out;
}

.swiper {
  width: 90%;
  
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  background: #fff;
}

.swiper-pagination {
  bottom: 34px !important;
  transform: scale(1.3);
}

.swiper-slide {
  height: 370px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  border-radius: 20px;
  padding: 0 0 80px;
  filter: grayscale(0.6);
  transform: scale(1.03);
  transition: 0.3s;
  filter: brightness(1.15);
  box-shadow: 0 8px 32px rgba(0,0,0,0.5);
  
}

.swiper-slide h2 {
  color: #fff;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.4;
  margin-bottom: 0.625rem;
  text-transform: uppercase;
  text-align: center;
}

.swiper-slide a:hover {
  color: #005baa;
  
}

.swiper-slide div {
  transition: 0.25s;
  opacity: 0;
}

.swiper-slide-active div {
  opacity: 1;
}

.swiper-slide--one {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("a.jpg") no-repeat 50% 50% / cover;
    
}

.swiper-slide--two {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("b.jpg") no-repeat 50% 50% / cover;
}

.swiper-slide--three {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("c.jpg") no-repeat 50% 50% / cover;
}



.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
  background-image: none;
}


